---
import '../styles/head.css';


---
<header class="header sticky sticky--top">

  <div class="grid">

    <nav class="navigation">
      <ul class="navigation__list navigation__list--inline">
        <li class="navigation__item"><a href="/" class="navigation__link navigation__link--is-active">Home</a></li>
        <li class="navigation__item"><a href="/about/" class="navigation__link">About Us</a></li>
      </ul>
    </nav>

  </div>

</header>




